{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Привет, {{ user.username }}</h1>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center mb-4">
              <img src="{{ url_for('static', filename='images/default.jpg') }}" class="rounded-circle profile-photo" alt="Profile photo">
            </div>
            <p>Ваши данные:</p>
            <p>Email: {{ user.email }}</p>
            <div class="text-center">
              <a href="{{ url_for('logout') }}" class="btn btn-secondary">Выход</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
